<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protege+ - Início</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/logo.png" type="image/png">
    <script src="/js/api.js"></script>
</head>

<body>
    <div class="home-container">
        <%- include('./partials/navbar'); %>
            <div class="options">
                <div class="button" onclick="window.location.href='/sintomas'">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M22 7.81V12.5H17.92C17.8 12.49 17.54 12.34 17.48 12.23L16.44 10.26C16.03 9.48 15.32 9.04 14.56 9.08C13.8 9.12 13.15 9.63 12.82 10.46L11.44 13.92L11.24 13.4C10.75 12.13 9.35 11.17 7.97 11.17L2 11.2V7.81C2 4.17 4.17 2 7.81 2H16.19C19.83 2 22 4.17 22 7.81Z"
                                fill="#ffffff"></path>
                            <path
                                d="M22 16.1887V13.9987H17.92C17.25 13.9987 16.46 13.5187 16.15 12.9287L15.11 10.9587C14.83 10.4287 14.43 10.4587 14.21 11.0087L11.91 16.8187C11.66 17.4687 11.24 17.4687 10.98 16.8187L9.84 13.9387C9.57 13.2387 8.73 12.6687 7.98 12.6687L2 12.6987V16.1887C2 19.7687 4.1 21.9287 7.63 21.9887C7.74 21.9987 7.86 21.9987 7.97 21.9987H15.97C16.12 21.9987 16.27 21.9987 16.41 21.9887C19.92 21.9087 22 19.7587 22 16.1887Z"
                                fill="#ffffff"></path>
                            <path
                                d="M2.0007 12.6992V16.0092C1.9807 15.6892 1.9707 15.3492 1.9707 14.9992V12.6992H2.0007Z"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    <span class="button-text">Sintomas &amp; Enfermidades</span>
                </div>

                <div class="button" onclick="window.location.href='/emergencia'">
                    <svg fill="#ffffff" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" stroke="#ffffff">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M26 0C25.449219 0 25 0.449219 25 1L25 3C25 3.550781 25.449219 4 26 4C26.554688 4 27 3.550781 27 3L27 1C27 0.449219 26.554688 0 26 0 Z M 18.9375 2.9375C18.683594 2.9375 18.414063 3.023438 18.21875 3.21875C17.828125 3.609375 17.828125 4.234375 18.21875 4.625L19.625 6.0625C19.820313 6.257813 20.085938 6.34375 20.34375 6.34375C20.601563 6.34375 20.867188 6.257813 21.0625 6.0625C21.453125 5.671875 21.453125 5.015625 21.0625 4.625L19.625 3.21875C19.429688 3.023438 19.191406 2.9375 18.9375 2.9375 Z M 33.0625 2.9375C32.808594 2.9375 32.570313 3.023438 32.375 3.21875L30.9375 4.625C30.546875 5.015625 30.546875 5.671875 30.9375 6.0625C31.132813 6.257813 31.398438 6.34375 31.65625 6.34375C31.914063 6.34375 32.179688 6.257813 32.375 6.0625L33.78125 4.625C34.171875 4.234375 34.171875 3.609375 33.78125 3.21875C33.585938 3.023438 33.316406 2.9375 33.0625 2.9375 Z M 26 6C23.792969 6 22 7.792969 22 10L22 11L30 11L30 10C30 7.792969 28.207031 6 26 6 Z M 16 9C15.449219 9 15 9.449219 15 10C15 10.550781 15.449219 11 16 11L18 11C18.550781 11 19 10.550781 19 10C19 9.449219 18.550781 9 18 9 Z M 34 9C33.445313 9 33 9.449219 33 10C33 10.550781 33.445313 11 34 11L36 11C36.554688 11 37 10.550781 37 10C37 9.449219 36.554688 9 36 9 Z M 2.78125 13C1.253906 13 0 14.234375 0 15.75L0 40.25C0 41.765625 1.253906 43 2.78125 43L7 43C7 46.308594 9.691406 49 13 49C16.308594 49 19 46.308594 19 43L33 43C33 46.308594 35.691406 49 39 49C42.308594 49 45 46.308594 45 43L47.21875 43C48.746094 43 50 41.765625 50 40.25L50 33.25C50 31.324219 48.628906 29.363281 48.5 29.1875L39.46875 15.21875C39.445313 15.183594 39.402344 15.125 39.375 15.09375L39.1875 14.90625C38.414063 13.976563 37.640625 13 35.96875 13 Z M 32 18L38.84375 18L46 29L32 29 Z M 14 21L16 21L16 25L20 25L20 27L16 27L16 31L14 31L14 27L10 27L10 25L14 25 Z M 13 39C15.207031 39 17 40.792969 17 43C17 45.207031 15.207031 47 13 47C10.792969 47 9 45.207031 9 43C9 40.792969 10.792969 39 13 39 Z M 39 39C41.207031 39 43 40.792969 43 43C43 45.207031 41.207031 47 39 47C36.792969 47 35 45.207031 35 43C35 40.792969 36.792969 39 39 39Z">
                            </path>
                        </g>
                    </svg>
                    <span class="button-text">Serviços de Emergência</span>
                </div>


                <div class="button" onclick="window.location.href='/questoes'">
                    <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 612.001 612.001" xml:space="preserve">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path
                                    d="M542.346,235.523c-6.647-76.801-52.108-147.626-115.793-190.052c-34.9-23.249-75.336-37.519-116.84-42.917 C195.319-12.325,74.841,37.92,31.685,150.284c-37.099,96.597-0.52,192.495,65.913,265.632 c23.974,26.393,27.298,76.017,27.298,109.446v67.792c0,10.408,8.438,18.846,18.846,18.846h245.301 c9.929,0,18.135-7.704,18.806-17.61c0.903-13.335,2.386-25.062,2.386-25.062c5.129-21.996,23.884-39.634,63.768-33.231 c41.844,6.713,68.237-5.756,70.584-33.617c0.774-9.191,1.273-87.695,1.273-87.695c1.999-1.142,15.117-3.75,34.236-8.097 c14.867-3.38,20.103-21.838,9.263-32.561c-43.469-43.001-49.299-63.047-50.378-67.362 C533.598,285.327,544.296,258.049,542.346,235.523z M461.327,209.858c-6.039,7.651-12.918,9.146-16.556,9.346 c-1.198,0.066-2.033,1.206-1.706,2.36c1.868,6.582,3.768,24.711-28.687,31.77c-30.438,6.615-48.844,30.29-60.863,42.313 c-9.233,9.225-21.723,13.495-34.183,16.299c-12.729,2.864-25.341,5.37-35.384,14.415c-10.577,9.527-25.495,61.985-28.027,71.104 c-0.222,0.801-0.951,1.352-1.783,1.352h-15.621c-0.877,0-1.636-0.614-1.817-1.473l-7.569-35.803 c-0.318-1.504-73.698,4.534-79.347-28.22c-0.198-1.149-1.359-1.862-2.456-1.466c-7.056,2.546-29.692,8.81-41.91-10.122 c-8.663-13.423-6.362-25.955-5.155-30.282c0.25-0.896-0.2-1.828-1.055-2.196c-6.225-2.677-28.719-15.289-25.669-56.784 c2.461-33.448,25.085-48.273,21.922-53.417c-9.124-14.837-1.193-39.431,17.5-44.921c0.753-0.221,1.288-0.888,1.359-1.67 l0.789-8.719c2.596-30.743,42.991-50.226,70.455-37.445c1.059,0.493,2.318-0.032,2.67-1.145 c3.438-10.898,10.377-13.898,12.226-14.938c8.515-4.791,19.572-4.199,28.374-0.586c0.712,0.292,1.523,0.114,2.048-0.448 c2.501-2.679,12.756-11.182,29.739-11.182c17.42,0,26.275,8.465,29.371,10.835c0.569,0.435,1.334,0.513,1.972,0.188 c3.919-2.004,18.228-8.411,32.554-3.476c10.818,3.732,16.959,13.578,18.893,17.161c0.413,0.766,1.281,1.157,2.128,0.957 c5.137-1.217,22.902-4.629,37.827,2.111c15.772,7.13,20.693,17.433,21.948,20.887c0.255,0.703,0.914,1.174,1.662,1.204 c3.42,0.136,12.858,0.964,18.691,5.866c10.3,8.66,9.294,15.488,8.108,18.41c-0.361,0.89,0.038,1.91,0.901,2.333 c4.704,2.307,17.892,9.927,26.073,26.112C472.011,182.884,467.505,202.031,461.327,209.858z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    <span class="button-text">Teste de Conhecimento</span>
                </div>
            </div>
    </div>
</body>

</html>