<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sintomas - Categorias</title>
  <link rel="stylesheet" href="/css/sintomas-categorias.css" />
  <link rel="icon" href="/logo.png" type="image/png">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="logo">PROTEGE +</h1>
      <div class="logout">
        <div class="logout-icon"></div>
        <span>Logout</span>
      </div>
    </header>

    <main class="symptom">
      <div class="category"><span>Gerais</span></div>
      <div class="category"><span>Musculoesqueléticos</span></div>
      <div class="category"><span>Neurológicos e Psicológicos</span></div>
      <div class="category"><span>Cardiovasculares</span></div>
      <div class="category"><span>Respiratórios</span></div>
      <div class="category"><span>Gastrointestinais</span></div>
      <div class="category"><span>Oculares</span></div>
      <div class="category"><span>Auditivos</span></div>
      <div class="category"><span>Dermatológicos</span></div>
      <div class="category"><span>Geniturinários</span></div>
    </main>
  </div>
</body>
</html>
