/* Tela inicial - usuário */

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  position: relative;
  width: 320px;
  height: 568px;
  background: #F2F2F2;
  overflow: hidden;
}

/* Título PROTEGE+ */
.app-title {
  position: absolute;
  width: 110px;
  height: 29px;
  left: calc(50% - 110px/2 - 78px);
  top: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #D90D1E;
  white-space: nowrap; /* impede quebra entre PROTEGE e + */
}

/* Área do logout */
.logout-area {
  position: absolute;
  left: 226px;
  top: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #038C8C;
}

/* Bloco das opções principais */
.options {
  position: absolute;
  width: 259px;
  height: 422px;
  left: calc(50% - 259px/2 + 0.5px);
  top: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
}

/* Botões */
.button {
  width: 259px;
  height: 120px;
  background: #D90D1E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  cursor: pointer;
  transition: transform 0.15s ease;
}

.button:hover {
  transform: scale(1.03);
}

.icon {
  background: #F2F2F2;
  border-radius: 5px;
}

/* Ícones placeholders */
#sintomas-icon {
  width: 58px;
  height: 53px;
}

#emergencia-icon {
  width: 49px;
  height: 53px;
}

#teste-icon {
  width: 64px;
  height: 61px;
}

.button-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #F2F2F2;
}

#sintomas-icon {
  background-color: transparent; 

  background-image: url('/images/icone-sintomas.png');

  background-size: contain; 

  background-position: center;

  background-repeat: no-repeat;

  border: none;
}

#emergencia-icon {
  background-color: transparent; 
  
  background-image: url('/images/icone-servicos.png');

  background-size: contain; 
  
  background-position: center;

  background-repeat: no-repeat;

  border: none;
}

#teste-icon {
  background-color: transparent; 

  background-image: url('/images/icone-teste.png');

  background-size: contain; 

  background-position: center;

  background-repeat: no-repeat;

  border: none;
}
