@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #D90D1E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 320px;
  background-color: #D90D1E;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}

.app-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-group {
  width: 85%;
  display: flex;
  justify-content: flex-start;
}

.input-group input {
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #F2F2F2;
  color: #038C8C;
  font-size: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 3px; 
}

.forgot-password {
  color: #FFFFFF;
  font-size: 10px;
  text-decoration: underline;
  align-self: flex-end;
  margin-right: 25px;
  margin-top: -5px;
}

.btn-login,
.btn-register {
  width: 85%;
  padding: 10px;
  background-color: #038C8C;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-register {
  margin-top: -5px;
}

.guest-access {
  display: block;
  margin-top: 25px;
  color: #FFFFFF;
  font-size: 10px;
  text-decoration: underline;
}
